#clockcontainer {
    position: relative;
    margin: auto;
    /* border: 3px black; */
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    width: 100%;
    
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    position: relative;
    background-color: black;
    width: 5px;
    height: 13%;
    top: 19%;
    left: 49.6%;
    opacity: 0.8;
    transform-origin: bottom;
    
}

#minute {
    position: relative;
    top: 15%;
    width: 4px;
    height: 18%;
    left: 49.97%;
    opacity: 0.8;
    transform-origin: bottom;
}

#second {
    position: relative;
    width: 3px;
    height: 20%;
    top: 12%;
    left: 49.999%;
    opacity: 0.8;
    transform-origin: bottom;
}